.Logo {
    color: #23a3f2 !important;
    font-weight: 900 !important;
}

.MainContainer {
    margin-top: 130px;
}

@media (min-height: 320px) {
    .footer {
      position: absolute !important;
      bottom: 0;
      width: 100%;
    }
}

.Header {
    width: 100% !important;
    color: white;
    font-weight: 100;
}

.Header h3 {
    color: white !important;
}
.Blue {
    background:#23a3f2 !important;
}

.Green {
    background:#2ac872 !important;
}

.White {
    background:white !important;
}

.Button { 
    background: transparent !important;
}

.BlueText {
    color: #23a3f2 !important;
}

.WhiteText {
    color: white !important;
}

.GreenText {
    color: #2ac872 !important;
}

.RedText {
    color: #d5614b !important;
}

.NoBorders {
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
}

.AddTask h2 {
    height: 60px;
    line-height: 60px !important;
    text-align: center;
    color: #b4c8d3 !important;
}

.CardBox {
    height: 60px;
    line-height: 60px !important;
    text-align: center;
}

.FontSize {
    font-size: 16px !important;
}

.CardInput { 
    max-width: 65%;
    width: 65%;
}

.DarkTheme {
    background-color:'#26465b';
    color: 'white';
}

.HalfWidth {
    width: 50%;
}

.card {
    min-width: 100% !important;
}

.dimmable {
    height: 60px !important;
    vertical-align: center;
}

.input input{
    border: 0 !important;
}
